body {
    background-color: #647E8C;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #647E8C;
    margin: 30px;
}

.header {
    height: 90px;
    background-color: #647E8C;
}

.title_tagline {
    display: block;
    float: left;
    height: auto;
    width: auto;
}

.title_tagline .title {
    display: inline-block;
    color: #fafafa;
    font-size: 30pt;
    font-weight: 900;
}

.title_tagline .tagline {
    display: block;
    color: #fafafa;
    font-size: 16pt;
    font-weight: 500;
}

.navbttn {
    display: block;
    float: right;
    width: auto;
    height: auto;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid #fafafa;
    border-radius: 5px;
    transition: background-color ease 200ms;
}

.navbttn:hover {
    background-color: rgba(255, 255, 255, 0.40);
    transition: ease 200ms;
}

.navbttn:active {
    background-color: rgba(255, 255, 255, 0.60);
    transition: ease 200ms;
}

.link {
    color: #fafafa;
    text-decoration: none;
    font-size: 16pt;
    font-weight: 500;
}

.separator {
    display: block;
    height: 2px;
    margin: 20px 0 20px 0;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #fafafa;
}

.desc {
    color: #fafafa;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

.download {
    display: block;
    height: auto;
    width: 50%;
    margin: 20px auto;
}

.googleplayimg {
    max-width: 100%;
    height: auto;
}